{% extends 'base.html' %} 
{% load crispy_forms_tags %}
{% block title %} Blog Details {% endblock %} 
{% block body_block %}
{%if is_logged_in == None %}
    {% if is_comment == True %}
      <div class="row">
          <h2 class="alert alert-danger">Hãy đăng ký và đăng nhập tài khoản trước khi bình luận trong bài viết này</h2>
      </div>
    {% endif %}
{% endif %}
<div class="row">
    <div class="col-sm-6">
      <h2>{{blog.blog_title}}</h2>
      <h4>Posted by: {{blog.author}}</h4>
      <i><h5>Export on: {{blog.created_date}}</h5></i>
      <i><h5>Updated on: {{blog.updated_date}}</h5></i>
    </div>
    <div class="col-sm-6">
      <img src="/media/{{blog.blog_image}}" width="100%" alt="" />
    </div>
    {{blog.blog_content|linebreaks}}
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h5>Comments:</h5>
      {% for comment in blog.blog_comment.all %}
      <p><a href="#">{{comment.user}}</a></p>
      <b>{{comment.comment}}</b><br>
      <h6><i>{{comment.comment_date}}</i></h6>
{% endfor %}
    </div>
    <div class="col-sm-6">
      <form method="POST">
        {{comment_form|crispy:"bootstrap4"}}
        {%csrf_token%}
        <button type="submit" class="btn btn-primary btn-sm">Publish Comment</button>
      </form>
    </div>
  </div>
  <br><br><br>
{% endblock %}